---
import { Image } from "astro:assets";
import { compareDesc } from "date-fns";

import Link from "@/components/link.astro";
import MainContent from "@/components/main-content.astro";
import PageSection from "@/components/page-section.astro";
import PageTitle from "@/components/page-title.astro";
import { defaultLocale as locale } from "@/config/i18n.config";
import PageLayout from "@/layouts/page-layout.astro";
import { getFormatter } from "@/lib/formatter";
import { getImageImport } from "@/lib/get-image-import";
import { createI18n } from "@/lib/i18n";
import { createCollectionResource } from "@/lib/keystatic/resources";

const page = await createCollectionResource("pages", locale).read("blog");
const blog = await createCollectionResource("blog", locale).all();
const sortedBlog = blog.sort((a, z) => {
	return compareDesc(new Date(a.data.publicationDate), new Date(z.data.publicationDate));
});

const { title, image, content } = page.data;
const documentTitle = title;
const { default: Content } = await page.compile(content);

const { t } = await createI18n(locale);
const formatter = getFormatter(locale);
---

<PageLayout locale={locale} title={documentTitle}>
	<MainContent>
		<div class="relative h-56">
			<Image
				alt=""
				class="absolute inset-0 size-full object-cover"
				loading="eager"
				src={getImageImport(image)}
			/>
		</div>
		<PageSection class="my-4 md:my-12">
			<PageTitle>{title}</PageTitle>
			<div class="prose">
				<Content />
			</div>
			<div>
				<ul class="grid gap-8 grid-fluid-cols-72" role="list">
					{
						sortedBlog.map((item) => {
							const { authors, image, summary, title } = item.data;
							const href = `/blog/${item.id}/`;

							return (
								<li>
									<article class="grid gap-y-2">
										<div class="relative mb-2 h-48 overflow-hidden rounded-lg transition hover:bg-granite/50">
											<Link aria-hidden="true" href={href} tabindex={-1}>
												<span class="sr-only">{title}</span>
												<Image
													alt=""
													class="absolute inset-0 size-full object-cover transition hover:opacity-75"
													sizes="620px"
													src={getImageImport(image)}
													widths={[620]}
												/>
											</Link>
										</div>
										<h2 class="font-medium leading-tight text-red-clay transition hover:text-inherit">
											<Link href={href}>{title}</Link>
										</h2>
										<div class="text-sm font-medium text-red-clay">
											{t("BlogsPage.by", { authors: formatter.list.format(authors) })}
										</div>
										<div class="text-sm leading-relaxed text-neutral-700">{summary}</div>
									</article>
								</li>
							);
						})
					}
				</ul>
			</div>
		</PageSection>
	</MainContent>
</PageLayout>
