---
import { Image } from "astro:assets";

import MainContent from "@/components/main-content.astro";
import PageSection from "@/components/page-section.astro";
import PageTitle from "@/components/page-title.astro";
import { defaultLocale as locale } from "@/config/i18n.config";
import PageLayout from "@/layouts/page-layout.astro";
import { createReader } from "@/lib/content/create-reader";
import { getMdxContent } from "@/lib/content/get-mdx-content";
import { getImageImport } from "@/lib/get-image-import";
import { createSshOpenMarketplaceItemUrl, getSshOpenMarketplaceItems } from "@/lib/sshoc";

const reader = createReader();
const page = await reader.collections.pages.readOrThrow("services");

const documentTitle = page.title;
const { title, image } = page;
const { default: Content } = await getMdxContent(await page.content(), locale);

const { items, total } = await getSshOpenMarketplaceItems();
---

<PageLayout locale={locale} title={documentTitle}>
	<MainContent>
		<div class="relative h-56">
			<Image
				alt=""
				class="absolute inset-0 size-full object-cover"
				loading="eager"
				src={getImageImport(image)}
			/>
		</div>
		<PageSection class="my-4 md:my-12">
			<PageTitle>{title}</PageTitle>
			<div class="prose">
				<Content />
			</div>
			<div class="grid gap-y-8">
				<h2 class="text-2xl font-semibold text-red-clay">{total} services</h2>
				<ul class="grid gap-y-12" role="list">
					{
						items.map(async (item) => {
							const { default: Content } = await getMdxContent(item.description, locale);

							return (
								<li>
									<article class="prose">
										<h3 class="text-xl font-semibold text-red-clay">
											<a
												href={String(
													createSshOpenMarketplaceItemUrl(item.category, item.persistentId),
												)}
											>
												{item.label}
											</a>
										</h3>
										<Content />
									</article>
								</li>
							);
						})
					}
				</ul>
			</div>
		</PageSection>
	</MainContent>
</PageLayout>
