---
import { Image } from "astro:assets";

import LinkButton from "@/components/content/link-button.astro";
import Tweet from "@/components/content/tweet.astro";
import Link from "@/components/link.astro";
import MainContent from "@/components/main-content.astro";
import PageSection from "@/components/page-section.astro";
import { defaultLocale as locale } from "@/config/i18n.config";
import PageLayout from "@/layouts/page-layout.astro";
import { createReader } from "@/lib/content/create-reader";
import { getMdxContent } from "@/lib/content/get-mdx-content";
import { getFormatter } from "@/lib/formatter";
import { getImageImport } from "@/lib/get-image-import";
import { createI18n } from "@/lib/i18n";
import logo from "~/public/assets/images/atrium-logo.png";
import europe from "~/public/assets/images/atrium-map-of-europe.jpg";

const reader = createReader();
const page = await reader.singletons.indexPage.readOrThrow();

const { t } = await createI18n(locale);

const documentTitle = t("IndexPage.meta.title");
const { hero, main, latest } = page;
const { default: Content } = await getMdxContent(await main.content(), locale);

const formatter = getFormatter(locale);
---

<PageLayout locale={locale} title={documentTitle}>
	<MainContent class="flex flex-col">
		<div class="grid bg-sunbleached md:grid-cols-[4fr_6fr]">
			<div class="relative order-1 grid items-center md:order-none">
				<Image
					alt=""
					class="absolute inset-0 size-full object-cover opacity-15"
					sizes="(max-width: 480px) 480px, (max-width: 768px) 768px, 100vw"
					src={logo}
					widths={[480, 768]}
				/>
				<div class="relative p-8 md:py-24">
					<h1 class="sr-only">{hero.title}</h1>
					<div class="text-md font-semibold leading-relaxed md:text-xl md:leading-[1.75]">
						{hero.leadIn}
					</div>
				</div>
			</div>
			<div class="bg-sunbleached">
				<Image
					alt=""
					class="aspect-video size-full max-h-screen-xs object-cover md:aspect-[2.5]"
					loading="eager"
					sizes="(max-width: 480px) 480px, (max-width: 768px) 768px, 100vw"
					src={getImageImport(hero.images.at(0)!)}
					widths={[480, 768]}
				/>
			</div>
		</div>

		<div class="flex-1 py-8">
			<PageSection>
				<div class="prose">
					<Content />
				</div>
			</PageSection>
		</div>

		<div class="bg-sunbleached py-8">
			<PageSection>
				<h2 class="text-2xl font-semibold text-red-clay">Latest Events & News</h2>
				<div>
					<ul class="grid gap-8 grid-fluid-cols-72" role="list">
						{
							latest.items.map(async (item) => {
								switch (item.item.discriminant) {
									case "events": {
										const id = item.item.value;

										const event = await reader.collections.events.readOrThrow(id, {
											resolveLinkedFiles: true,
										});

										const href = `/events/${id}/`;

										return (
											<li>
												<article class="grid gap-y-2">
													<div class="relative mb-2 h-48 overflow-hidden rounded-lg transition hover:bg-granite/50">
														<Link aria-hidden="true" href={href} tabindex={-1}>
															<span class="sr-only">{event.title}</span>
															<Image
																alt=""
																class="absolute inset-0 size-full object-cover transition hover:opacity-75"
																sizes="620px"
																src={getImageImport(event.image)}
																widths={[620]}
															/>
														</Link>
													</div>
													<h3 class="font-medium leading-tight text-red-clay transition hover:text-inherit">
														<Link href={href}>{event.title}</Link>
													</h3>
													<dl class="text-sm">
														<div class="flex gap-x-2">
															<dt>Date:</dt>
															<dd>
																{event.endDate != null ? (
																	<span>
																		{formatter.date.formatRange(
																			new Date(event.date),
																			new Date(event.endDate),
																		)}
																	</span>
																) : (
																	<time datetime={event.date}>
																		{formatter.date.format(new Date(event.date))}
																	</time>
																)}
															</dd>
														</div>
														<div class="flex gap-x-2">
															<dt>Location:</dt>
															<dd>{event.location}</dd>
														</div>
													</dl>
												</article>
											</li>
										);
									}

									case "news": {
										const id = item.item.value;

										const news = await reader.collections.news.readOrThrow(id, {
											resolveLinkedFiles: true,
										});

										const href = `/news/${id}/`;

										return (
											<li>
												<article class="grid gap-y-2">
													<div class="relative mb-2 h-48 overflow-hidden rounded-lg transition hover:bg-granite/50">
														<Link href={href}>
															<span class="sr-only">{news.title}</span>
															<Image
																alt=""
																class="absolute inset-0 size-full object-cover transition hover:opacity-75"
																sizes="620px"
																src={getImageImport(news.image)}
																widths={[620]}
															/>
														</Link>
													</div>
													<h3 class="font-medium leading-tight text-red-clay transition hover:text-inherit">
														<Link href={href}>{news.title}</Link>
													</h3>
												</article>
											</li>
										);
									}

									case "tweets": {
										const id = item.item.value;

										return (
											// eslint-disable-next-line tailwindcss/no-custom-classname
											<li class="light">
												<Tweet id={id} />
											</li>
										);
									}
								}
							})
						}
					</ul>
				</div>
			</PageSection>
		</div>

		<div class="py-8">
			<PageSection>
				<div class="grid gap-8 md:grid-cols-2">
					<div>
						<h2 class="text-center text-2xl font-semibold text-red-clay">
							Transnational Access – Travel Grants
						</h2>
						<div class="prose my-4 text-center">
							ATRIUM will offer researchers and research teams the chance to visit 16 research
							infrastructures and organisations in the Arts and Humanities abroad.
						</div>
						<div>
							<LinkButton
								aria-label="More info about travel grants"
								href="/travel-grants/"
								label="More info"
							/>
						</div>
					</div>
					<div>
						<Image alt="" class="rounded-md" sizes="740px" src={europe} widths={[740]} />
					</div>
				</div>
			</PageSection>
		</div>
	</MainContent>
</PageLayout>
