---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import MailingListForm from "@/components/mailing-list-form.astro";
import { defaultLocale as locale } from "@/config/i18n.config";
import { createReader } from "@/lib/content/create-reader";
import { createI18n } from "@/lib/i18n";
import logo from "~/public/assets/images/atrium-logo-with-text.png";

const { t } = await createI18n(locale);

const reader = createReader();
const socialMedia = await reader.singletons.socialMedia.readOrThrow({
	resolveLinkedFiles: true,
});

const socialMediaConfig = {
	linkedin: { label: "LinkedIn", icon: "simple-icons:linkedin" },
	twitter: { label: "Twitter", icon: "simple-icons:x" },
	youtube: { label: "YouTube", icon: "simple-icons:youtube" },
};
---

<div class="bg-granite py-12 text-sunbleached">
	<div>
		<div class="grid gap-x-0.5 gap-y-8 lg:grid-cols-3 lg:bg-sunbleached">
			<div class="grid place-items-center bg-granite px-8">
				<div>
					<Image alt="" class="h-16 w-auto" sizes="280px" src={logo} widths={[280]} />
				</div>
			</div>
			<div class="grid place-items-center bg-granite px-8">
				<div class="grid gap-y-4">
					<div class="flex justify-center gap-x-2">
						{
							socialMedia.links.map((link) => {
								const config = socialMediaConfig[link.kind];

								return (
									<a
										class="rounded-full focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white"
										href={link.href}
										target="_blank"
									>
										<div class="grid size-10 place-content-center rounded-full bg-sunbleached p-2 text-granite transition hover:opacity-90">
											<Icon aria-hidden="true" class="size-6" name={config.icon} />
										</div>
										<span class="sr-only">{config.label}</span>
									</a>
								);
							})
						}
					</div>
					<a
						class="flex items-center gap-x-2 rounded-md px-1 py-0.5 transition hover:opacity-90 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white"
						href={`mailto:${socialMedia.email}`}
					>
						<Icon aria-hidden="true" class="h-6" name="lucide:mail" />
						{socialMedia.email.replace("@", "[at]")}
					</a>
				</div>
			</div>
			<div class="grid bg-granite px-8 lg:place-items-center">
				<div class="grid gap-y-4">
					<h2 class="text-lg font-semibold">{t("WebsiteSocialSection.form-title")}</h2>
					<MailingListForm />
				</div>
			</div>
		</div>
	</div>
</div>
